<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as | al expandFn |}}
    {{!-- This line shows the driver title which you don't have to change it --}}
    <div class="over-hr mb-20"><span>{{driverOptionsTitle}}</span></div>

    {{!-- An example input option --}}
    {{#accordion-list-item 
      title="API Access"
      detail=""
      expandAll=expandAll
      expand=(action expandFn) 
      expandOnInit=true 
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Organization ID{{field-required}}</label>
          {{input type="text" class="form-control"  value=config.organization}}
        </div>
      
        <div class="col span-6">
          <label class="acc-label">API Token{{field-required}}</label>
          {{input type="password" class="form-control" value=config.token }}
        </div>
      </div>
    {{/accordion-list-item}}

  {{#accordion-list-item 
      title="Instance"
      detail=""
      expandAll=expandAll
      expand=(action expandFn) 
      expandOnInit=true 
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Region</label>
          {{new-select class="form-control" content=regions optionLabelPath='location' optionValuePath='id' value=config.region}}
        </div>

        <div class="col span-6">
          <label class="acc-label">Name</label>
          {{input input type="text" class="form-control" value=config.name}}
        </div>
      
      </div>
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Type{{field-required}}</label>
          {{input type="text" class="form-control" placeholder="START1-XS" value=config.commercialType
          }}
        </div>

        <div class="col span-6">
          <label class="acc-label">Image{{field-required}}</label>
          {{input type="text" class="form-control" placeholder="ubuntu-xenial" value=config.image }}
        </div>
    
      </div>
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Additional Volumes</label>
          {{input type="text" class="form-control" placeholder="50G" value=config.volumes
          }}
        </div>

        <div class="col span-6">
          <label class="acc-label">Bootscript</label>
           {{input type="text" class="form-control" placeholder="docker" value=config.bootscript }}
        </div>
      </div>
    {{/accordion-list-item}}  
  
    {{#accordion-list-item 
      title="Network"
      detail=""
      expandAll=expandAll
      expand=(action expandFn) 
      expandOnInit=true 
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">IP Address</label>
           {{input type="text" class="form-control" value=config.ip
          }}
        </div>
      
        <div class="col span-6">
          <label class="acc-label">IPv6</label>
           {{input type="checkbox" checked=config.ipv6 }}
        </div>
      </div>
    {{/accordion-list-item}}

    {{#accordion-list-item 
      title="Debug"
      detail=""
      expandAll=expandAll
      expand=(action expandFn) 
      expandOnInit=false 
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">Enable Debugging</label>
          {{input type="checkbox" checked=config.debug }}
        </div>
      </div>
    {{/accordion-list-item}}

    {{!-- This following contains the Name, Labels and Engine Options fields --}}
    <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>

    {{form-name-description
      model=model
      nameRequired=true
    }}

    {{form-user-labels
      initialLabels=labelResource.labels
      setLabels=(action 'setLabels')
      expandAll=expandAll
      expand=(action expandFn)
    }}

    {{form-engine-opts
      machine=model
      showEngineUrl=showEngineUrl
    }}
  {{/accordion-list}}

  {{!-- This component shows errors produced by validate() in the component --}}
  {{top-errors errors=errors}}

  {{!-- This component shows the Create and Cancel buttons --}}
  {{save-cancel save="save" cancel="cancel"}}
</section>
